h1, p {
  font-family: Lato;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.nav{
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672200 1.8%, #A626D3 100%);
}